<footer >
    <div class="footer__container" >
        <p class="copyright__text  footer__text ">© 2022 | All Rights Reserved |</p>

        <ul class="footer__list">
            <li class="footer__item  footer__text ">Developed with</li>
            <li class="footer__item">
                <svg class="footer__icon">
                    <use href="./images/symbol-defs.svg#icon-favorite" fill="#FF6B08"></use>
                </svg>
            </li>
            <li class="footer__item  footer__text ">
                by
                <a class="footer__link" open-modal> GoIT Students </a>
            </li>
        </ul>
    </div>

<div class="is-hidden2 " js-backdrop>
    <div class="footer-modal" modal >
        <button class="close-footer-modal" close-modal>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff6b08" class="" viewBox="0 0 32 32">
                <path
                    d="M26.667 7.303l-1.97-1.97-7.808 7.808-7.808-7.808-1.97 1.97 7.808 7.808-7.808 7.808 1.97 1.97 7.808-7.808 7.808 7.808 1.97-1.97-7.808-7.808 7.808-7.808z">
                </path>
            </svg></button>
        <div class="profile-container js-menu" ></div>

    </div>
</div>


</footer>
